# Node modules
node_modules/

# Build files (frontend and backend)
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Environment files
.env

# Miscellaneous
*.bak
*.tmp
