.header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin-left: 20px;
    background-color: #fff;
    margin-right: 30px;
}
  
button {
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 1em 1.8em;
    background: #4F46E5;
    display: flex;
    transition: background 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    margin-top: 1px;
    width: 10px; 
    background: #4F46E5;
    height: 2px; 
    position: relative;
    transition: background 0.2s;
  }
  
  .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid #fff; 
    border-width: 0 2px 2px 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: right 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: #ca2020; 
  }
  
  button:hover .arrow {
    background: #fff; 
  }
  
  button:hover .arrow::before {
    right: 0;
  }
  